header {
    background-color: rgb(73, 94, 87);
    margin-top: 30px;
    height: 450px;
}

.header-wrapper {
    margin-left: 8rem;
    margin-right: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#headerright {
    display: flex;
    flex-direction: column;
}

#headerleft {
    display: flex;
    border-radius: 8px;
}

.headerimage {
    height: 550px;
    border-radius: 8px;
    padding-top: 50px;
}

header h1 {
    color: rgb(244, 206, 20);
    margin-bottom: 0;
    padding: 0;
}

.headerp {
    max-width: 550px;
    margin-top: 0;
}

@media screen and (max-width: 1300px) {
    .header-wrapper {
        justify-content: center;
    }
}