main {
    margin-top: 250px;
}

.sectionspecials, .section-wrapper, .infoimages {
    margin-left: 8rem;
    margin-right: 8rem;
}

.h2specials {
    display: inline-block;
}

.onlinemenu {
    display: inline-block;
}

.specials {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.text{
    margin: 20px;
    height: 340px;
}

.titleprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.cardimage {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.card {
    background-color: rgb(237, 239, 238);
    width: 300px;
    min-width: 300px;
    border-radius: 16px 16px 0 0;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 3rem;
    padding-bottom: 0;
    position: relative;
}

.delivery {
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    font-weight: bold;
}

.price {
    color: rgb(238, 153, 114);
    margin: 0;
}

.sectionreviews {
    margin-top: 40px;
    background-color: rgb(237, 239, 238);
    padding-top: 130px;
    padding-bottom: 200px;
}

.testimonials {
    text-align: center;
}

.reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.review-box {
    margin-right: 3rem;
}

.infoimages {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}

.info {
    max-width: 450px;
}

.image-main {
    max-width: 600px;
}



@media screen and (max-width:1350px) {
    .infoimages {
        flex-direction: column;
        justify-content: center;
    }

    .image-container {
        margin-top: 80px;
    }
}

@media screen and (max-width: 1300px) {
    main {
        margin-top: 600px;
    }
}

@media screen and (max-width: 1100px) {
    .image-main {
        max-width: 500px;
    }
}

@media screen and (max-width: 966px) {
    .specials {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 655px) {
    main {
        margin-top: 700px;
    }
}